@model AhorroDigital.API.Data.Entities.AccountType

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/EstilosCard.css" />
<link rel="stylesheet" href="https://kit.fontawesome.com/f9b2f7ab54.css" crossorigin="anonymous">


<div class="row">
    <div class="col-md-12" data-aos="fade-left" data-aos-duration="2000">
        <h4>Nuevo Tipo de Cuenta Bancaria</h4>
        <hr />
        <flash dismissable="true" />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-field">
                <i class="fa-solid fa-money-check-dollar "></i>
                <input asp-for="Name" class="" placeholder="Tipo de Cuenta bancaria" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="form-group content__btns">
                <input type="submit" value="Guardar" class="btn btn-primary content__btns-save" />
                <a asp-action="Index" class="btn btn-success content__btns-back">Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        // Delete item

        let home = document.getElementById("home");
        let td = document.getElementById("td");
        let tc = document.getElementById("tc");
        let ta = document.getElementById("ta");
        let tp = document.getElementById("tp");
        let dash = document.getElementById("dashboard");
        dash.classList.remove('active');
        tc.classList.add('active');
        home.classList.remove('active');
        ta.classList.remove('active');
        td.classList.remove('active');
        tp.classList.remove('active');

    </script>
}
