@model AhorroDigital.API.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="~/css/FormProgress.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">




<div class="row" data-aos="fade-up" data-aos-duration="2000">
    <div class="col-md-12">
        <h3>Editar Contraseña</h3>
        <hr />
        <form asp-action="ChangePassword" enctype="multipart/form-data">




            <div class="col-md-12">
                <flash dismissable="true" />
            </div>


            

                   
                       
                    
                   

                        <div class="input-field-em">
                            <i class="fa-solid fa-lock"></i>
                            <input asp-for="OldPassword" class="" placeholder="Contraseña" />
                        </div>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                        
                        <div class="input-field-em">
                            <i class="fa-solid fa-lock"></i>
                            <input asp-for="NewPassword" class="" placeholder="Nueva Contraseña" />
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                        <div class="input-field-em">
                            <i class="fa-solid fa-lock"></i>
                            <input asp-for="Confirm" class="" placeholder="Confirmación Contraseña" />
                        </div>
                        <span asp-validation-for="Confirm" class="text-danger"></span>


                   
               




            

            <div class="form-group">
                <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
                <a asp-action="ChangeUser" class="btn btn-success">Regresar</a>
            </div>
        </form>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jasny/jasny-bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="~/js/FormProgress.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">


        const realFileBtn = document.getElementById("real-file");
        const customBtn = document.getElementById("custom-button_2");
        const customTxt = document.getElementById("custom-text");
        var img = document.getElementById("imagenPrevisualizacion");

        customBtn.addEventListener("click", function () {
            realFileBtn.click();
        });

        realFileBtn.addEventListener("change", function () {
            if (realFileBtn.value) {
                customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
            } else {
                customTxt.innerHTML = "No se ha cargado ninguna imagen";
            }
        })

        const $seleccionArchivos = document.querySelector("#real-file"),
            $imagenPrevisualizacion = document.querySelector("#imagenPrevisualizacion");

        // Escuchar cuando cambie
        $seleccionArchivos.addEventListener("change", () => {
            // Los archivos seleccionados, pueden ser muchos o uno
            const archivos = $seleccionArchivos.files;
            // Si no hay archivos salimos de la función y quitamos la imagen
            if (!archivos || !archivos.length) {
                $imagenPrevisualizacion.src = "";
                return;
            }


            var filePath = realFileBtn.value;
            var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
            if (!allowedExtensions.exec(filePath)) {



            } else {
                // Ahora tomamos el primer archivo, el cual vamos a previsualizar
                const primerArchivo = archivos[0];
                // Lo convertimos a un objeto de tipo objectURL
                const objectURL = URL.createObjectURL(primerArchivo);
                // Y a la fuente de la imagen le ponemos el objectURL
                $imagenPrevisualizacion.src = objectURL;
            }
        });
    </script>
    @* <script>

        let home = document.getElementById("home");
        let td = document.getElementById("td");
        let tc = document.getElementById("tc");
        let ta = document.getElementById("ta");
        let tp = document.getElementById("tp");
        let user = document.getElementById("user");

        user.classList.add('active');

        ta.classList.remove('active');
        home.classList.remove('active');
        td.classList.remove('active');
        tc.classList.remove('active');
        tp.classList.remove('active');
        option.classList.add('op_back');
    </script>*@
}


