@model AhorroDigital.API.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/EstilosRegistro.css" />
<link rel="stylesheet" href="~/css/normalize.css" />
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/f9b2f7ab54.js" crossorigin="anonymous"></script>


<body>
    <div class="container-form login" data-aos="fade-right" data-aos-duration="2000">
        <div class="information">
            <div class="info-childs">
                <img src="~/images/logonatillera.png" class="logo" />
                <h2>Bienvenido!</h2>
                <p>Para unirte a nuestra comunidad de ahorro digital  por favor inicia sesión con tus datos o regístrate para hacer parte de nuestra comunidad.</p>
                <a id="sign-in" asp-area="" asp-controller="Account" asp-action="Register">Registrarse</a>
            </div>

        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Inicio de Sessión</h2>

                
                <form method="post" class="form">
                    
                    <div class="div__flash">
                        <flash dismissable="true" />
                    </div>
                    <div class="text-input">
                        <i class="fa-solid fa-at icon_color"></i>
                        <input asp-for="Username" type="text" placeholder="Email">

                    </div>
                    <span asp-validation-for="Username" class="text-warningbs"></span>
                    <div class="text-input">
                        <i class="fa-solid fa-lock icon_color"></i>
                        <input asp-for="Password" type="password" placeholder="Contraseña">

                    </div>
                    <span asp-validation-for="Password" class="text-warningbs"></span>
                    <div class="div_chk">
                        <div class="">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label"></label>
                        </div>
                        <span asp-validation-for="RememberMe" class="text-warningbs"></span>
                    </div>

                    <button class="login-btn">Iniciar Sesión</button>
                    <a asp-controller="Account" asp-action="RecoverPassword" class="forgot mt-4">olvidaste tu contraseña?</a>
                   
                    
                </form>
              
            </div>
        </div>
    </div>


</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jasny/jasny-bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/font-awesome/js/all.min.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();

</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/js/Login.js"></script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	
}