<div class="modal fade in" id="deleteDialog" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header__color">
                <h5 class="modal-title" id="exampleModalLabel">Borrar Registro</h5>
                <button type="button" class="btn__delete-x" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>

            </div>
            <div class="modal-body">
                <p>¿Estas seguro de querer borrar este registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn__no-delete" data-bs-dismiss="modal" style=" width: 80px !important;">No!</button>
                <button type="button" class="btn btn-light btn__delete" id="btnYesDelete" style=" width: 80px !important;">Sí!</button>
               
            </div>
        </div>
    </div>
</div>

